.env

**/.terraform/
**/terraform.tfstate.lock
*.terraform.lock.hcl
*.terraform.tfstate.backup
*.terraform.tfstate

modules/indimesh_snowflake_accelerator/.terraform.lock.hcl
modules/indimesh_snowflake_accelerator/terraform.tfstate
modules/indimesh_snowflake_accelerator/terraform.tfstate.backup

tests/go.mod
tests/go.sum
.idea/
